<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843129084223-n36speshi1gsr8ji4cns50q6pdi6vsh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843129084223-n36speshi1gsr8ji4cns50q6pdi6vsh2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>843129084223-kgel2ol4cvqv4foif0gr25k0qtrld0nn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD56NV5NfI5ENPwEefHnhq34uBVvkQhIQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>843129084223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alfostat</string>
	<key>PROJECT_ID</key>
	<string>al-fostat-compund</string>
	<key>STORAGE_BUCKET</key>
	<string>al-fostat-compund.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843129084223:ios:dfdb6088597b29090e5b8a</string>
</dict>
</plist>